$grey-color: #666666;

$header-title-color: grey;
$white: #FFFFFF;
$black: #000000;

/* ECG Colors */

$ecg-turquoise-color: #99CCCC;
$ecg-turquoise-dark-color: #009999;
$ecg-olive-color: #CCCB98;
$ecg-green2: #94BE4E;

$negative-color: #DE6B3C;
$negative-content-color: #7B7C7F;
$basic-level-color: #E8B809;
$advanced-level-color: #FFF101;
$experienced-level-color: #A3CF9A;
$model-level-color: #40AE49;