<!doctype html>
<html class="no-js htmlTag" ng-app="ecgQuicktestApp" ng-controller="MainCtrl">
<head>
  <meta charset="utf-8">
  <title ng-bind="t.name">Schnelltest Gemeinwohl-Ökonomie</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/css/main.css">
  <link rel="stylesheet" href="styles/css/vendor/bootstrap-progressbar-3.2.0.css">
  <!-- endbuild -->
</head>
<body>

<!--[if lt IE 9]>
<p class="browsehappy">
  You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.
</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container">

  <header class="header">
    <a href="" ng-click="go('ecgQuicktest')">
      <img src="images/ecg-logo.png" class="img-responsive center-block" alt="GWÖ"/>
    </a>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="pull-right">
          <img src="images/flags/usa-flag-32px.png" title="English"
               class="cursor-pointer"
               ng-class="{halfTransparent: lang !== 'en'}"
               data-ng-click="setLocale('en-US')"/>
          <img src="images/flags/germany-flag-32px.png" title="Deutsch"
               class="cursor-pointer"
               ng-class="{halfTransparent: lang !== 'de'}"
               data-ng-click="setLocale('de-DE')"/>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <h1 class="header-title text-center" ng-bind="t.name"></h1>
    </div>
  </header>

  <div class="progress progress-test">
    <div class="progress-bar" role="progressbar" data-transitiongoal="{{testProgress}}"
         progressbar>
    </div>
  </div>

  <!--<div ng-view=""></div>-->
  <section ui-view=""></section>

  <footer class="footer text-right">
    <p>
      made with
      <a href="https://github.com/ecogood/ecg-quicktest-app" class="svg-hover">
        Open Source
        <svg class="svg-icon20" viewBox="0 0 32 32">
          <path id="heart-icon" d="M16,28.261c0,0-14-7.926-14-17.046c0-9.356,13.159-10.399,14-0.454c1.011-9.938,14-8.903,14,0.454
	C30,20.335,16,28.261,16,28.261z"/>
        </svg>
      </a>
    </p>
  </footer>

</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-localization/angular-localization.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/bootstrap-progressbar/bootstrap-progressbar.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/vendor/bootstrap-progressbar.min.js"></script>


<script src="scripts/ecg-quicktest-ngmodule/app.module.js"></script>
<script src="scripts/ecg-quicktest-ngmodule/services/generated/quicktest-texts.js"></script>
<script src="scripts/ecg-quicktest-ngmodule/services/generated/quicktest-model.js"></script>
<script src="scripts/ecg-quicktest-ngmodule/home/home.js"></script>
<script src="scripts/ecg-quicktest-ngmodule/question/question.js"></script>
<script src="scripts/ecg-quicktest-ngmodule/results/results.js"></script>
<script src="scripts/ecg-quicktest-ngmodule/progressbar.directive.js"></script>
<script src="scripts/ecg-quicktest-ngmodule/config.route.js"></script>
<script src="scripts/ecg-quicktest-ngmodule/config.value.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/mainCtrl.js"></script>
<!-- endbuild -->
</body>
</html>
