<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Schnelltest GWÖ</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/css/main.css">
  <link rel="stylesheet" href="styles/css/vendor/bootstrap-progressbar-3.2.0.css">
  <!-- endbuild -->
</head>
<body ng-app="ecgQuicktestApp">
<!--[if lt IE 7]>
<p class="browsehappy">
  You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.
</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container" ng-controller="MainCtrl">

  <div class="header">
    <a href="/">
      <img src="images/ecg-logo.png" class="img-responsive center-block" alt="GWÖ"/>
    </a>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="pull-right">
          <img src="images/flags/usa-flag-32px.png" title="English"
               class="cursor-pointer"
               ng-class="{halfTransparent: lang !== 'en'}"
               data-ng-click="setLocale('en-US')"/>
          <img src="images/flags/germany-flag-32px.png" title="Deutsch"
               class="cursor-pointer"
               ng-class="{halfTransparent: lang !== 'de'}"
               data-ng-click="setLocale('de-DE')"/>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <h1 class="header-title text-center">{{t.name}}</h1>
    </div>
  </div>
  <div class="progress progress-test">
    <div class="progress-bar" role="progressbar" data-transitiongoal="{{testProgress}}"
         progressbar></div>
  </div>

  <div ng-view=""></div>

  <div class="footer text-right">
    <p>
      made with
      <a href="https://github.com/ecogood/ecg-quicktest-app">
        Open Source <span class="glyphicon glyphicon-heart"></span>
      </a>
    </p>
  </div>

</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-localization/angular-localization.js"></script>
<script src="bower_components/bootstrap-progressbar/bootstrap-progressbar.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/quicktest-texts.js"></script>
<script src="scripts/services/quicktest-model.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/controllers/test-question.js"></script>
<script src="scripts/controllers/test-results.js"></script>
<script src="scripts/directives/bootstrap-progressbar.js"></script>
<script src="scripts/vendor/bootstrap-progressbar.min.js"></script>
<!-- endbuild -->
</body>
</html>
