$distance-normal: 20px;
$distance-small: $distance-normal / 2;
$distance-smallest: $distance-small / 2;
$distance-big: $distance-normal * 2;

//noinspection CssUnknownTarget
@import "variables";
//noinspection CssUnknownTarget
@import "mixins";

/* Remove Firefox outlines on links and selects */
a, a:hover, a:active, a:focus {
  outline: 0;
}

@-moz-document url-prefix() {
  select, select:-moz-focusring,
  select::-moz-focus-inner {
    color: transparent !important;
    text-shadow: 0 0 0 #000 !important;
    background-image: none !important;
  }
}

/* Layout */
.center-block {
  margin: 0 auto;
}

// Distances
.p-bottom {
  padding-bottom: $distance-normal;
}

.p-top {
  padding-top: $distance-normal;
}

.m-right-smallest {
  margin-right: $distance-smallest;
}

.m-top {
  margin-top: $distance-normal;
}

.m-top-big {
  margin-top: $distance-big;
}

.cursor-pointer {
  cursor: pointer;
}

.clear-both {
  clear: both;
}

.halfTransparent {
  @include opacity(0.5);
}

.color-transparent {
  color: transparent;
}

.unselectable {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}